<head>
  <title><%= title %></title>
  <link type="text/css" rel="stylesheet" href="/styles.css" />
</head>

<body>



<div class="banner">
  <h1><%= title %></h1>
  <a href = "/submit">
    <h2 class="under_title_link">Submit</h2>
  </a>
</div>

<div id="bulk_box">
  <ul>
  <% @everything.each do |stuff| %>

    <li>
      <a href = "<%= stuff['url'] %>" ><h3 class="homepage_links"><%= stuff['url'] %></h3></a>
      <p><%= stuff['title'] %></p>
      <p><%= '-' * 50 %></br></p>
    </li>
  <% end %>
  </ul>

</div>

</body>
